name: dev_workflow.yml
on:
  push:
    branches:
      - develop
  workflow_dispatch:
  workflow_call:

jobs:
  test-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Test
        run: |
          echo "Current SHA: ${{ github.sha }}"
          echo "Fail!"
          exit 1
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          echo "Current SHA: ${{ github.sha }}"
          echo "Build Job"
          echo "Success!"
          exit 0