name: dev_workflow.yml
on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["**"]

jobs:
  hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: |
          echo "HELLO WORLD!"
          exit 0