name: Test Workflow
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      json_vars:
        type: string
        description: 'A JSON string of key-value pairs that will be passed as environment variables to the workflow. (e.g., {"NAME": "test", "VERSION": "1.2.3"})'
        required: false
        default: '{}'
  workflow_call:
    inputs:
      json_vars:
        type: string
        description: 'A JSON string of key-value pairs that will be passed as environment variables to the workflow. (e.g., {"NAME": "test", "VERSION": "1.2.3"})'
        required: false
        default: '{}'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Parse and set dynamic env vars
        run: |
          echo "Setting environment variables from input..."
          echo '${{ inputs.json_vars || '{}' }}' | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> $GITHUB_ENV
      - name: Test
        run: |
          echo "Current SHA: ${{ github.sha }}"
          echo "Listing all environment variables:"
          env
          echo "Success!"
          exit 0
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          echo "Current SHA: ${{ github.sha }}"
          echo "Build Job"
          echo "Success!"
          exit 0
